page-home {

    ion-content{
        background-color: rgb(142, 180, 180)!important
    }
    ion-item{
        background-color: rgb(209, 224, 224)!important
    }
    ion-title{
        text-align: center;
        
    }

}
